<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Directions service</title>
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
      #panel {
        position: absolute;
        top: 5px;
        left: 50%;
        margin-left: -180px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
      }
    </style>
    <style>
      #directions-panel {
        height: 100%;
        float: right;
        width: 390px;
        overflow: auto;
      }

      #map-canvas {
        margin-right: 400px;
      }

      #control {
        background: #fff;
        padding: 5px;
        font-size: 14px;
        font-family: Arial;
        border: 1px solid #ccc;
        box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
        display: none;
      }

      @media print {
        #map-canvas {
          height: 500px;
          margin: 0;
        }

        #directions-panel {
          float: none;
          width: auto;
        }
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <h1>Welcome to Trip.Ly!!!</h1>
  </head>
  <body>
    <div id="address_boxes">
      <form id="addresses">
        <input type="field" id="start" placeholder="Enter Start Address"></input>
        <input type="field" id="finish" placeholder="Enter End Address"></input>
        <input type="submit" value="Submit">
      </form>
    </div>
    <div id="begin"></div>
    <div id="end"></div>
    <div id="directionsPanel" style="float:right;width:30%;height 50%"></div>
    <div id="map-canvas"></div>
  </body>
  <script>
    var directionsDisplay;
    var directionsService = new google.maps.DirectionsService();

    function initialize() {
      directionsDisplay = new google.maps.DirectionsRenderer();
      var mapOptions = {
        zoom: 4,
        center: new google.maps.LatLng(40.0000, -100.0000)
      };
      var map = new google.maps.Map(document.getElementById('map-canvas'),
          mapOptions);
      directionsDisplay.setMap(map);

      var control = document.getElementById('control');
      control.style.display = 'block';
      map.controls[google.maps.ControlPosition.TOP_CENTER].push(control);
    }

    function calcRoute() {
      var start = $('input#start').val();
      var end = $('input#finish').val();
      var request = {
        origin: start,
        destination: end,
        travelMode: google.maps.TravelMode.TRANSIT
      };
      directionsService.route(request, function(response, status) {
        if (status == google.maps.DirectionsStatus.OK) {
          directionsDisplay.setDirections(response);
        }
      });
      directionsDisplay.setPanel(document.getElementById('directionsPanel'));
    }

    google.maps.event.addDomListener(window, 'load', initialize);

    $('form#addresses').submit( function(e) {
      e.preventDefault();
      calcRoute();
    });

    $('form#addresses').submit( function (e) {
      $('div#begin').empty();
      $('div#end').empty();
      var startValue = $('input#start').val();
      var finishValue = $('input#finish').val();
      $('<h1>').text("Starting Address:" + startValue).appendTo('div#begin')
      $('<h1>').text("End Address:" +finishValue).appendTo('div#end')
      e.preventDefault();
      console.log("shmee")
    });

  </script>
</html>
